@import "tailwindcss";

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* MapinSKHU 커스텀 색상 */
  --new-main-color: #218b21;
  --new-sub-color: #bae688;

  /* Figma Primitive Colors - Gray */
  --mapin-gray-100: #f7f7fa;
  --mapin-gray-200: #f5f5f8;
  --mapin-gray-300: #f0f0f4;
  --mapin-gray-400: #e6e6eb;
  --mapin-gray-450: #dadadd;
  --mapin-gray-500: #cbccd4;
  --mapin-gray-540: #cbccd466;
  --mapin-gray-600: #b2b3bc;
  --mapin-gray-700: #95969d;
  --mapin-gray-800: #878891;
  --mapin-gray-850: #63646d;
  --mapin-gray-900: #454549;

  /* Figma Primitive Colors - Green */
  --mapin-green-100: #e5ffe0;
  --mapin-green-200: #d0f1c9;
  --mapin-green-300: #d8fdd1;
  --mapin-green-350: #c5f1c9;
  --mapin-green-400: #abe99f;
  --mapin-green-500: #a9ea89;
  --mapin-green-600: #84dd8c;
  --mapin-green-700: #3cb371;
  --mapin-green-750: #60c98e;
  --mapin-green-800: #35aa69;

  /* Figma Primitive Colors - NavyBlue */
  --mapin-navy-100: #f8f9ff;
  --mapin-navy-200: #e8ecff;
  --mapin-navy-300: #e0e3ef;
  --mapin-navy-400: #d5d8ef;
  --mapin-navy-500: #b1b9d2;
  --mapin-navy-600: #adb1c9;
  --mapin-navy-700: #7982b6;
  --mapin-navy-750: #6870a0;
  --mapin-navy-800: #454d7b;
  --mapin-navy-900: #4d5272;

  /* Figma Primitive Colors - Red */
  --mapin-red-100: #ffe9eb;
  --mapin-red-200: #ffdade;
  --mapin-red-900: #ff5b6b;

  /* Figma Primitive Colors - SkyBlue */
  --mapin-skyblue-300: #e6fdff;

  /* Figma Primitive Colors - White */
  --mapin-white-900: #ffffff;
  --mapin-white-910: #ffffff1a;
  --mapin-white-950: #ffffff80;
  --mapin-white-970: #ffffffb2;
  --mapin-white-980: #ffffffcc;

  /* Figma Primitive Colors - Yellow */
  --mapin-yellow-100: #eeffbc;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  /* 순천체 폰트 */
  @font-face {
    font-family: "SuncheonB";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "SuncheonR";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonR.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }

  /* Noto Sans KR - Google Fonts */
  @font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/notosanskr/v36/PbyxFmXiEBPT4ITbgNA5Cgms3VYcOA-vvnIzzuoyeLTq8H4hfeE.woff2)
      format("woff2");
  }

  @font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/notosanskr/v36/PbyxFmXiEBPT4ITbgNA5Cgms3VYcOA-vvnIzzuoyelTq8H4hfeE.woff2)
      format("woff2");
  }

  @font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/notosanskr/v36/PbyxFmXiEBPT4ITbgNA5Cgms3VYcOA-vvnIzzuoyeLTq8H4hfeE.woff2)
      format("woff2");
  }

  @font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/notosanskr/v36/PbyxFmXiEBPT4ITbgNA5Cgms3VYcOA-vvnIzzuoyegjq8H4hfeE.woff2)
      format("woff2");
  }

  @font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/notosanskr/v36/PbyxFmXiEBPT4ITbgNA5Cgms3VYcOA-vvnIzzuoyeqvq8H4hfeE.woff2)
      format("woff2");
  }

  @font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/notosanskr/v36/PbyxFmXiEBPT4ITbgNA5Cgms3VYcOA-vvnIzzuoyeszq8H4hfeE.woff2)
      format("woff2");
  }

  * {
    @apply border-border outline-ring/50;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-family: "Noto Sans KR", sans-serif;
    line-height: 1;
    user-select: none;
    margin: 0;
    padding: 0;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  textarea,
  select {
    font-family: "Noto Sans KR", sans-serif;
  }

  a {
    font-size: 2rem;
    text-decoration: none;
  }

  ol,
  ul {
    list-style: none;
  }
}

/* 애니메이션 */
@keyframes motion {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 10px;
  }
}

/* ===== Typography Utilities ===== */

@utility typo-heading-5xl {
  font-size: 70px;
  font-weight: 800;
  line-height: 68px;
}

@utility typo-heading-4xl {
  font-size: 60px;
  font-weight: 800;
  line-height: 68px;
}

@utility typo-heading-lg {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
}

@utility typo-heading-sm-bd {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

@utility typo-heading-sm-smbd {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

@utility typo-heading-sm-md {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

@utility typo-body-lg-exbd {
  font-size: 16px;
  font-weight: 800;
  line-height: 32px;
}

@utility typo-body-lg-bd {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

@utility typo-body-lg-smbd {
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
}

@utility typo-body-lg-md {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@utility typo-body-md-bd {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

@utility typo-body-md-smbd {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

@utility typo-body-md-md-20 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

@utility typo-body-md-md-16 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

@utility typo-body-sm-smbd-20 {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}

@utility typo-body-sm-smbd-16 {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

@utility typo-body-sm-md-20 {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

@utility typo-body-sm-md-16 {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

@utility typo-body-sm-rg {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

@utility typo-body-exsm-md {
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
}
